nav{
    background-color: aqua;
}
nav > ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

nav > ul > li{
    display: inline-block;
    text-align: center;
}
nav > ul > li > a{
    display: block;
    width: 166.8px;
    padding: 15px;
    font-family: sans-serif;
    font-size: larger;
    margin: 0px;
}

nav > ul > li > a:hover{
    background-color: chocolate;
    transition-duration: 0.5s;


}

.dropdown{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    position: absolute;
    background-color: black;
    display: none;
    z-index: 999;
}

.dropdown > li > a{
    
    display: block;
    transition-duration: 1s;
    width: 217px;
    padding: 15px;
    font-family: sans-serif;
    font-size: larger;
    margin: 0px;
    color: white;
 
}
.dropdown > li > a:hover{
    background-color: chocolate;
    transition-duration: 1s;
}

nav > ul > li:hover .dropdown{
    display: block;
}
