.footer{
    background-color: black;
    color: white;
}

.footer-box > ul{
    margin: 0px;
    padding: 0px;
}

.footer-box-left{
    margin: 0px;
    padding-left: 15px;
    float: left;
}

.footerbox > ul > li{
    margin: 0px;
    padding: 0px;
}

.footer-box{
    float:right;
    margin: 0px;
    padding: 0px;
    width: 490px;
}