body > header{
    background-color: teal;
}

body > header > div.logo > img{
    width: 100px;
    height: auto;
    float: left;
    margin: 15px;
}
body{
    margin:auto;
    width: 1000px;
    background-color: lightgreen;
}
body > header > div.search{
    float: right;
    margin: 15px;
}

.reset{
    clear:both;
}


.nonedeca{
    text-decoration: none;
    color: black;
}

.content{
    width: 900px;
    height: auto;
    padding: 15px;
}

.content-holder{
    background-color: gold;
}

